@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
    background-color: #FFFFFF;
    
        margin: 0;
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      
      
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes translateY {
    from {
      transform: translateY(40px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }
  
  .animate-translateY {
    animation-name: translateY;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }
  @keyframes fadeIn1 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes translateY1 {
    from {
      transform: translateY(60px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn1 {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: linear;
  }
  
  .animate-translateY1 {
    animation-name: translateY;
    animation-duration: 4s;
    animation-timing-function: linear;
  }
  
  
